.bg {
 background-color: rgba(0, 0, 0, 0.5);
 border-radius: 8px;
 width: 220px;
 min-height: 300px;
 height: auto;
 padding: 5px;


 .upInputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 10px 10px 10px;

  .capContainer {
   display: flex;
   align-items: center;

   .cap {
    display: flex;
    max-width: 50px;
   }

   button {
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    padding-top: 7px;
   }
  }
 }

 .stars {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding-left: 8px;
 }

 img {
  height: 280px;
  width: 200px;
  border-radius: 8px;
 }

 .bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 10px;

  .btns {
   display: flex;
   flex-direction: column;
   gap: 8px;

   button {
    width: 30px;
    height: 30px;


    svg {
     display: flex;
     justify-content: center;
    }
   }
  }
 }
}