.Container {
 display: flex;
 align-items: center;
 flex-direction: column;
 gap: 25px;

 div {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  align-items: center;

  .textInputs {
   display: flex;
   flex-direction: column;

   input {
    width: 250px;
    border-radius: 8px;
    border: none;
    padding: 10px;
   }

   .stars {
    position: relative;
    width: 350px;

    svg {
     position: absolute;
     right: 50px;
    }
   }

   .cap {
    position: relative;
    width: 350px;

    svg {
     position: absolute;
     right: 50px;
     z-index: 1;
    }
   }
  }

  .file {
   width: 180px;
   height: 180px;

   input {
    display: none;
    width: 180px;
    height: 180px;
   }

   svg {
    width: 180px;
    height: 180px;
   }

   img {
    max-width: 180px;
    max-height: 180px;
    height: 180px;
    width: 180px;
   }
  }
 }

 button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
 }
}